.menu-bar {
  position: fixed;
  top: 0; /* Add this to ensure the menu bar starts at the top */
  right: 45px;
  left: 45px; /* Align to the left, 45px from the left edge */
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Space between the logo and menu items */
  align-items: flex-start; /* Align items to the start of the flex container */
  padding-top: 20px; /* Add padding to the top of the menu bar */
}


.menu-bar .menu-items {
  display: flex; /* Use flexbox for layout */
  flex-direction: column;
  gap: 15px; /* Space between each menu item */

}

.menu-bar .HOME,
.menu-bar .THEORY,
.menu-bar .PRACTICE {
  color: #444040; /* Example color, adjust as needed */
  font-family: "Pixeboy-Regular", Helvetica;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4.5px;
  line-height: normal;
  text-align: right;
  white-space: nowrap;
}

.menu-bar .current {
  color: #fff0f0; /* Set the color to white for the current page */
}