/* 07071F - this is the blue bg color*/

.home {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home .overlap-wrapper {
    background-color: #ffffff;
    height: 1080px;
    width: 1920px;
  }
  
  .home .overlap {
    background-image: url(../../assets/bg.png);
    background-size: 100% 100%;
    height: 1080px;
    position: relative;
  }
  
  .home .overlap-group {
    height: 838px;
    left: 708px;
    position: absolute;
    top: 242px;
    width: 529px;
  }
  
  .home .flower {
    height: 353px;
    left: 75px;
    object-fit: cover;
    position: absolute;
    top: 122px;
    width: 353px;
  }
  
  .home .practice-petal {
    height: 155px;
    left: 265px;
    position: absolute;
    top: 487px;
    width: 264px;
  }
  
  .home .div-wrapper {
    background-image: url(../../assets/practicepetal.svg);
    background-size: 100% 100%;
    height: 112px;
    left: -3px;
    position: relative;
    top: 20px;
    width: 262px;
  }
  
  .home .text-wrapper-4 {
    color: #fff0f0;
    font-family: "rainyhearts-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 74px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 35px;
    width: 163px;
  }
  
  .home .theory-petal {
    height: 178px;
    left: 34px;
    position: absolute;
    top: 518px;
    width: 249px;
  }
  
  .home .overlap-2 {
    background-image: url(../../assets/theorypetal.svg);
    background-size: 100% 100%;
    height: 111px;
    left: 11px;
    position: relative;
    top: 40px;
    width: 225px;
  }
  
  .home .text-wrapper-5 {
    color: #fff0f0;
    font-family: "rainyhearts-Medium", Helvetica;
    font-size: 40px;
    font-weight: 500;
    left: 54px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 31px;
    width: 144px;
  }
  
  .home .stem {
    height: 448px;
    left: 247px;
    position: absolute;
    top: 390px;
    width: 23px;
  }
  
  .home .flowershop {
    height: 223px;
    left: 0;
    position: absolute;
    top: 0;
    width: 517px;
  }
  
  .home .menu-bar-instance {
    left: 1717px !important;
    position: absolute !important;
    top: 54px !important;
  }
  
  .home .group-6 {
    left: 43px !important;
    position: absolute !important;
    top: 60px !important;
  }
  