.home {
  background-color: #07071F;
  position: relative; /* Changed from flex to relative */
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* Prevents any overflow from being visible */
}

/* Position the flowershop logo above the stem */
.home .flowershop {
  position: absolute;
  bottom: 560px; /* Adjust this value to position the flower above the stem */
  left: 50%;
  transform: translateX(-50%); /* Center align horizontally and scale down to 90% of original size */
  z-index: 10; /* Ensures it's above other elements */
}

/* Position the flower above the stem */
.home .flower {
  position: absolute;
  bottom: 500px; /* Adjust this value to position the flower above the stem */
  left: 50%;
  transform: translate(-50%, 50%); /* Adjust vertically and horizontally */
  z-index: 5; /* Below the flowershop logo */
}

/* Position the stem at the bottom center of the page */
.home .stem {
  position: absolute;
  bottom: 0; /* Align to the bottom */
  left: 50.3%;
  transform: translateX(-50%) ; /* Center align horizontally */
}

/* Position petals relative to the stem */
.home .practice-petal {
  position: absolute;
  bottom: 170px; /* Adjust as needed */
  left: calc(50.3% + 4px); /* Adjust as needed */

}

.home .theory-petal {
  position: absolute;
  bottom: 124px; /* Adjust as needed */
  left: calc(50% - 220px); /* Adjust as needed */

}

.theory-petal path:hover {
  fill: rgba(40, 88, 45, 0.5); /* Change to the color you want on hover with 50% transparency */
  ; /* Change to the color you want on hover */
}