.project-box {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    width: 45%; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
  }
  
  .project-image {
    max-width: 33%;
    max-height: 85%;
    object-fit: cover;
    margin-right: 15px;
  }
  
  .project-text {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .project-title {
    font-family: 'Pixeboy';
    color: #ffffff; /* Set color to white */
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4.5px;
  
}
  
  .project-subtitle, .project-date {
    font-family: 'rainyhearts';
    font-size: 30px; /* Adjust as needed */
    color: #ffffff; /* Set color to white */

  }